<!DOCTYPE html>
<html>
<head>
    <title>Создать подписку</title>
</head>
<body>
    <h1>Создать подписку</h1>
    <form method="POST">
        Название: <input type="text" name="name"><br>
        Сумма: <input type="number" name="amount"><br>
        Периодичность: 
        <select name="frequency">
            <option value="monthly">Ежемесячно</option>
            <option value="yearly">Ежегодно</option>
        </select><br>
        Дата начала: <input type="date" name="start_date"><br>
        <button type="submit">Создать</button>
    </form>
</body>
</html>