<!DOCTYPE html>
<html>
<head>
    <title>Редактировать подписку</title>
</head>
<body>
    <h1>Редактировать подписку</h1>
    <form method="POST">
        Название: <input type="text" name="name" value="{{ subscription.name }}"><br>
        Сумма: <input type="number" name="amount" value="{{ subscription.amount }}"><br>
        Периодичность: 
        <select name="frequency">
            <option value="monthly" {% if subscription.frequency == 'monthly' %}selected{% endif %}>Ежемесячно</option>
            <option value="yearly" {% if subscription.frequency == 'yearly' %}selected{% endif %}>Ежегодно</option>
        </select><br>
        Дата начала: <input type="date" name="start_date" value="{{ subscription.start_date }}"><br>
        <button type="submit">Сохранить</button>
    </form>
</body>
</html>