<!DOCTYPE html>
<html>
<head>
    <title>Мои подписки</title>
</head>
<body>
    <h1>Мои подписки</h1>
    <a href="/subscriptions/new">Добавить подписку</a>
    <ul>
        {% for subscription in subscriptions %}
        <li>
            {{ subscription.name }} - {{ subscription.amount }} - {{ subscription.frequency }} - {{ subscription.start_date }}
            <a href="/subscriptions/edit/{{ subscription.id }}">Редактировать</a>
            <form action="/subscriptions/delete/{{ subscription.id }}" method="POST" style="display:inline;">
                <button type="submit">Удалить</button>
            </form>
        </li>
        {% endfor %}
    </ul>
</body>
</html>